@using System.Text
@using System.Text.Json
@using Microsoft.AspNetCore.DataProtection
@using Microsoft.Extensions.Options
@inject IOptions<StartSchOptions> Options
@inject IDataProtectionProvider DataProtectionProvider

<p>
    Az email címed megerősítéséhez kattints az alábbi linkre:
</p>
<p>
    <a href="@_url">
        @_url
    </a>
</p>

<p>
    Ezt az emailt azért kaptad, mert a
    <a href="@Options.Value.PublicUrl">
        @Options.Value.PublicUrl
    </a>
    oldalon valaki ezt az emailcímet adta meg.
    Ha ez nem te voltál, hagyd figyelmen kívül ezt az emailt.
</p>

@code {
    private string _url = null!;

    [Parameter, EditorRequired] public required EmailVerificationData EmailVerificationData { get; set; }

    protected override void OnInitialized()
    {
        _url = new StringBuilder()
            .Append(Options.Value.PublicUrl)
            .Append("/email/verify/")
            .Append(DataProtectionProvider
                .CreateProtector("Email verification")
                .Protect(JsonSerializer.Serialize(EmailVerificationData, Utils.JsonSerializerOptions)))
            .ToString();
    }

}
