@using Microsoft.Extensions.Options
@inject IOptions<StartSchOptions> Options

@{
    string startSch = Options.Value.PublicUrl;
    TextContent textContent = new(Post.ContentMarkdown, Post.ExcerptMarkdown);
}

@((MarkupString)textContent.HtmlContent)

<EmailFooter>
    <a href="@startSch/posts/@Post.Id">
        Nyisd meg ezt a posztot StartSCH-n
    </a>
    vagy
    <a href="@startSch/preferences">
        módosítsd az email beállításaidat
    </a>.
</EmailFooter>

@code {
    [Parameter, EditorRequired] public required Post Post { get; set; }
}