@inherits EmailTemplate

@{
    TextContent textContent = new(Post.ContentMarkdown, Post.ExcerptMarkdown);
}

@((MarkupString)textContent.HtmlContent)

<EmailFooter>
    <a href="@BaseUrl/posts/@Post.Id">
        Nyisd meg ezt a posztot StartSCH-n
    </a>
    vagy
    <a href="@PreferencesUrl">
        módosítsd az email beállításaidat
    </a>.
</EmailFooter>

@code {
    [Parameter, EditorRequired] public required Post Post { get; set; }
}
