**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

**/*.*proj.user
**/*.db
**/*.dbmdl
**/*.jfm
**/*.tar

**/Dockerfile*
**/TestResults
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/publish
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
