@page "/dashboard"
@using StartSch.Services
@attribute [Authorize]
@inject AuthorizationService AuthorizationService
@inject InterestService InterestService

<main>
    <Title>Adminisztráció</Title>

    @if (_administeredPages is not { Count: > 0 })
    {
        <span style="color: var(--md-sys-color-on-surface-variant)">
            Nincs jogosultságod kör adminisztrálásához
        </span>
    }
    else
    {
        <ul>
            @foreach (Page administeredPage in _administeredPages)
            {
                <li>
                    <a href="/pages/@administeredPage.Id">
                        @administeredPage.GetName()
                    </a>
                </li>
            }

        </ul>
    }
    
    <p style="margin-top: 16px">
        Azokat a köröket adminisztrálhatod, amelyiknél
        <a href="https://pek.sch.bme.hu">PéK-en </a>
        @foreach (var title in Constants.TrustedPekTitles.SkipLast(2))
        {
            <b><code>@title</code></b>@:,
        }
        <b><code>@(Constants.TrustedPekTitles[^2])</code></b> vagy
        <b><code>@(Constants.TrustedPekTitles[^1])</code></b>
        címed van. Ha ez nem megfelelő,
        <a href="https://github.com/kir-dev/StartSCH/issues/new">nyiss egy issue-t GitHub-on</a>.
        Jogosultságok frissítéséhez jelentkezz ki, majd be.
    </p>
</main>

@code {
    private List<Page>? _administeredPages;

    protected override async Task OnInitializedAsync()
    {
        var index = await InterestService.LoadIndex;
        _administeredPages = index.GetPages(AuthorizationService.AdministeredPageIds);
    }

}
