@page "/dashboard"
@using System.Security.Claims
@using StartSch.Services
@attribute [Authorize]
@inject AdministrationAuthorizationService AdministrationAuthorizationService
@inject InterestService InterestService

<main>
    <Title>Adminisztráció</Title>
    <h2>
        Adminisztrálható körök
    </h2>

    @if (_administeredPages is not { Count: > 0 })
    {
        <span style="color: var(--md-sys-color-on-surface-variant)">
            Nincs jogosultságod kör adminisztrálásához
        </span>
    }
    else
    {
        <ul>
            @foreach (Page administeredPage in _administeredPages)
            {
                <li>
                    <a href="/pages/@administeredPage.Id">
                        @administeredPage.GetName()
                    </a>
                </li>
            }

        </ul>
    }

    <h2>
        Tagságok
    </h2>
    @{ var memberships = _user?.GetGroupMemberships(); }
    @if (memberships != null)
    {
        foreach (GroupMembership membership in memberships)
        {
            <p style="margin-top: 8px">
                <b>
                    @membership.Name
                </b>
            </p>
            <ul>
                @foreach (var title in membership.Titles)
                {
                    <li>
                        @if (Constants.IsPrivilegedPekTitle(title))
                        {
                            <b>@title</b>
                        }
                        else
                        {
                            @title
                        }
                    </li>
                }
            </ul>
        }
    }
</main>

@code {
    [CascadingParameter] public required Task<AuthenticationState> AuthState { get; set; }
    private ClaimsPrincipal? _user;
    private List<Page>? _administeredPages;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        _user = authState.User;
        var index = await InterestService.LoadIndex;
        _administeredPages = index.GetPages(AdministrationAuthorizationService.AdministeredPageIds);
    }

}
