@page "/calendars/personal/edit"
@attribute [Authorize]

@using Microsoft.AspNetCore.DataProtection
@using Microsoft.Extensions.Options
@using StartSch.Services
@using StartSch.Wasm

@layout DocumentLayout

@inject Db Db
@inject IHttpContextAccessor HttpContextAccessor
@inject IDataProtectionProvider DataProtectionProvider
@inject IOptions<StartSchOptions> StartSchOptions
@inject PersonalCalendarService PersonalCalendarService
@inject NavigationManager NavigationManager

<PageTitle>Naptár szerkesztő</PageTitle>

@if (Key == null)
{
    <div class="recover-personal-calendars">
        <h1>StartSCH naptár szerkesztő</h1>
        <p>
            A Neptun és Moodle linkeket titkosítva tároljuk, hogy egy esetleges biztonsági incidens során se
            kerülhessenek nyilvánosságra. A titkosításhoz használt kulcsot a StartSCH naptár linkek tartalmazzák.
        </p>
        <p>
            A szerkesztő használatához nyisd meg a naptáradat, majd kattints a <b>Módosítás</b> gombra egy tetszőleges StartSCH-s eseményen:
        </p>
        <expressive-button trailing-icon class="small round filled" href="https://calendar.google.com">
            Google Naptár megnyitása
        </expressive-button>

        <details>
            <summary>
                Nem sikerül?
            </summary>
            Lehetőséged van kitörölni a titkosított adatokat, ez után:
            <ol>
                <li>Újra meg kell adnod a Neptun és Moodle linkjeidet</li>
                <li>Újra hozzá kell adnod az összes StartSCH kategóriát a naptáradhoz</li>
            </ol>
            Ez nem vonható vissza!
            <form @formname="clearEncryptedData" method="post" @onsubmit="@OnClearEncryptedDataSubmitted">
                <AntiforgeryToken/>
                <label style="display: block; margin: 16px">
                    <input type="checkbox" value="true" name="understood" style="display: inline; width: unset"/>
                    Megértettem
                </label>
                <expressive-button class="small round error filled">Naptárak visszaállítása</expressive-button>
            </form>
        </details>
    </div>

    return;
}

@if (_wrongUser)
{
    <p>
        Ez a link egy másik felhasználóhoz tartozik. A használatához jelentkezz át a megfelelő fiókba.
        <LogOutForm>
            <expressive-button class="small round filled standard" type="submit">
                Kijelentkezés
            </expressive-button>
        </LogOutForm>
    </p>

    return;
}

<PersonalCalendarConfigurator
    InitialEncryptionToken="@_encryptionToken"
    InitialContext="@_personalCalendarContext"
    PublicUrl="@StartSchOptions.Value.PublicUrl"/>

@code {
    private bool _wrongUser;
    private string? _encryptionToken;
    private PersonalCalendarContextDto _personalCalendarContext = null!;
    private User _user = null!;

    [SupplyParameterFromQuery(Name = "key")]
    public string? Key { get; set; }

    [SupplyParameterFromForm(FormName = "clearEncryptedData", Name = "understood")]
    public bool ClearEncryptedDataUnderstood { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int userId = HttpContextAccessor.HttpContext!.User.GetId();
        _user = await Db.Users
            .Include(x => x.DefaultPersonalCalendarCategory)
            .Include(x => x.DefaultPersonalCalendarExamCategory)
            .Include(x => x.PersonalCalendars)
            .FirstAsync(x => x.Id == userId);

        if (Key == null)
        {
            if (_user.PersonalCalendars.Count > 0)
                // has used calendars before, prompt for encryption token
                return;

            const uint bme = 0x931634;
            _user.DefaultPersonalCalendarCategory = new() { Name = "Alapértelmezett", Color = 0xFFFFFF };
            _user.DefaultPersonalCalendarExamCategory = new() { Name = "Számonkérések", Color = bme };
            _user.PersonalCalendars.AddRange(
                _user.DefaultPersonalCalendarCategory,
                _user.DefaultPersonalCalendarExamCategory,
                new PersonalCalendarCategory { Name = "Rejtett", Color = 0x999999 },
                new PersonalCalendarCategory { Name = "Választható", Color = 0x489160 },
                new PersonalCalendarCategory { Name = "Kötelező", Color = bme },
                new PersonalCalendarCategory { Name = "Követett", Color = 0x0093f0 }
            );

            GenerateNewKeyAndNavigate();
            return;
        }

        var unprotectedEncryptionToken = PersonalCalendarEncryptionToken.Deserialize(Key, DataProtectionProvider);
        if (userId != unprotectedEncryptionToken.UserId)
        {
            _wrongUser = true;
            return;
        }

        _encryptionToken = Key;
        _personalCalendarContext = await PersonalCalendarService.GetContextDto(_user, unprotectedEncryptionToken.AesKey);
    }

    private async Task OnClearEncryptedDataSubmitted()
    {
        if (!ClearEncryptedDataUnderstood)
            return;
        foreach (var calendar in _user.PersonalCalendars.OfType<ExternalPersonalCalendar>())
            calendar.Clear();
        await Db.SaveChangesAsync();
        GenerateNewKeyAndNavigate();
    }

    private void GenerateNewKeyAndNavigate()
    {
        var newKey = new PersonalCalendarEncryptionToken(
            _user.Id,
            Crypto.GenerateAesEncryptionKey()
        ).Serialize(DataProtectionProvider);
       
        NavigationManager.NavigateTo($"/calendars/personal/edit?key={newKey}");
    }

}
