@page "/calendars/personal/edit"
@attribute [Authorize]

@using Microsoft.AspNetCore.DataProtection
@using Microsoft.Extensions.Options
@using StartSch.Services
@using StartSch.Wasm

@layout DocumentLayout

@inject Db Db
@inject IHttpContextAccessor HttpContextAccessor
@inject IDataProtectionProvider DataProtectionProvider
@inject IOptions<StartSchOptions> StartSchOptions
@inject PersonalCalendarService PersonalCalendarService
@inject NavigationManager NavigationManager

@if (Key == null)
{
    <p>
        A forrás naptárjaid linkjeit titkosítva tároljuk, hogy egy esetleges biztonsági incidens során se
        kerülhessenek nyilvánosságra. A titkosításhoz használt kulcsot a StartSCH naptár export linkek tartalmazzák.
        Ahhoz, hogy módosítani tudd a naptáradat, másold ide az egyik export URL-t, például a Google Naptáradból.
    </p>

    <div style="
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 16px;
        margin: 8px;
    ">
        <section>
            <h2>Megnyitás a naptáradból</h2>
            <p>Nyisd meg a naptáradat, majd kattints a <i>Módosítás</i> gombra valamelyik StartSCH-s eseményen</p>
            <expressive-button trailing-icon class="small round filled" href="https://calendar.google.com" target="_blank">
                <md-icon slot="icon">open_in_new</md-icon>
                Google Naptár
            </expressive-button>
        </section>
        @*
        <section>
            <h2>.ics export link</h2>
            <p>Másold ide a naptáradhoz hozzáadott URL-t:</p>
            <md-filled-text-field label="Naptár URL"/>
            <expressive-button class="small round tonal" href="https://calendar.google.com" target="_blank">
                Ellenőrzés
            </expressive-button>
        </section>
        <section>
            <h2>Böngésző előzmények</h2>
            <p>Nyisd meg a böngésződ előzményeit és</p>
            <md-filled-text-field label="Naptár URL"/>
            <expressive-button class="small round tonal" href="https://calendar.google.com" target="_blank">
                Ellenőrzés
            </expressive-button>
        </section>
        *@
    </div>

    <details>
        <summary>
            Nem sikerül?
        </summary>
        aaaaaaaaaa
    </details>

    return;
}

@if (_wrongUser)
{
    <p>
        Ez a link egy másik felhasználóhoz tartozik. A használatához jelentkezz át a megfelelő fiókba.
        <LogOutForm>
            <expressive-button class="small round filled standard" type="submit">
                Kijelentkezés
            </expressive-button>
        </LogOutForm>
    </p>

    return;
}

<PersonalCalendarConfigurator
    InitialEncryptionToken="@_encryptionToken"
    InitialContext="@_personalCalendarContext"
    PublicUrl="@StartSchOptions.Value.PublicUrl"/>

@code {
    private bool _wrongUser;
    private string? _encryptionToken;

    private PersonalCalendarContextDto _personalCalendarContext = null!;

    [SupplyParameterFromQuery(Name = "key")]
    public string? Key { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int userId = HttpContextAccessor.HttpContext!.User.GetId();
        User user = await Db.Users
            .Include(x => x.DefaultPersonalCalendarCategory)
            .Include(x => x.DefaultPersonalCalendarExamCategory)
            .Include(x => x.PersonalCalendars)
            .FirstAsync(x => x.Id == userId);

        if (Key == null)
        {
            if (user.PersonalCalendars.Count > 0)
                // has used calendars before, prompt for encryption token
                return;

            string encryptionToken = new PersonalCalendarEncryptionToken(
                userId,
                Crypto.GenerateAesEncryptionKey()
            ).Serialize(DataProtectionProvider);

            const uint bme = 0x931634;
            user.DefaultPersonalCalendarCategory = new() { Name = "Alapértelmezett", Color = 0xFFFFFF };
            user.DefaultPersonalCalendarExamCategory = new() { Name = "Számonkérések", Color = bme };
            user.PersonalCalendars.AddRange(
                user.DefaultPersonalCalendarCategory,
                user.DefaultPersonalCalendarExamCategory,
                new PersonalCalendarCategory { Name = "Rejtett", Color = 0x999999 },
                new PersonalCalendarCategory { Name = "Választható", Color = 0x489160 },
                new PersonalCalendarCategory { Name = "Kötelező", Color = bme },
                new PersonalCalendarCategory { Name = "Követett", Color = 0x0093f0 }
            );

            NavigationManager.NavigateTo($"/calendars/personal/edit?key={encryptionToken}");
            return;
        }

        var unprotectedEncryptionToken = PersonalCalendarEncryptionToken.Deserialize(Key, DataProtectionProvider);
        if (userId != unprotectedEncryptionToken.UserId)
        {
            _wrongUser = true;
            return;
        }

        _encryptionToken = Key;
        _personalCalendarContext = await PersonalCalendarService.GetContextDto(user, unprotectedEncryptionToken.AesKey);
    }

}
