@page "/"

<PageTitle>StartSCH</PageTitle>

<aside style="float: right; max-width: min(400px, 25%)">
    <h2>Nyitások</h2>
    <article>
        <h3>Lángosch: Goofy Pitbull nyitás</h3>
        10.13., Vasárnap, 19:00
    </article>
    <article>
        <h3>Magyarosch: Harcsapaprikás túrós csuszával, bukta</h3>
        10.13., Vasárnap, 19:00
    </article>
</aside>

<article>
    <h2>Programozói Konferencia 2024</h2>
    <div class="tags">
        <div>progkonf</div>
        <div>esemény</div>
    </div>
    <p>
        Hagyományunkhoz híven idén is megrendeztük az őszi konferenciánkat, idén tizenkettedjére! Szokásunkhoz híven ez is egy családias hangulatú és érdekes konferencia volt, ahol hallgatótársaid által prezentált előadásokon vehettél részt a programozás minden területéről!
    </p>
</article>
<article>
    <h2>Megnyílt a QR-fight utolsó szakasza!</h2>
    <div class="tags">
        <div>qpa</div>
    </div>
    <p>Megnyílt a QR-fight utolsó körzete, Budapest! A legtöbb QR kódot a belváros tartogatja magában. Jó keresgélést!</p>
</article>
