@page "/"
@inject Db Db

<PageTitle>StartSCH</PageTitle>

<main class="home">
    <section id="events">
        <h2>Események</h2>
        <article>
            <h3>QPA</h3>
            <article>
                <h4>1. het</h4>
                <article>
                    <h5>Videki nap</h5>
                    <article>
                        <h6>Lejutas</h6>
                    </article>
                </article>
            </article>
        </article>
    </section>
    <section id="openings">
        <h2 style="margin-top: 16px">
            Nyitások
        </h2>
        @foreach (var opening in _openings)
        {
            <EventPreview Event="@opening" HideAdminControls/>
        }
        @if (!_openings.Any())
        {
            <p>
                <small>
                    Nincs bejelentett nyitás.
                </small>
            </p>
        }

        <div style="margin-top: 16px">
            <a href="/openings">
                Korábbi nyitások
            </a>
        </div>
    </section>
    <section id="news">
        <h2 style="margin-top: 16px">
            Hírek
        </h2>
        @foreach (var post in _posts)
        {
            <PostPreview Post="post"/>
        }
        <div style="height: 64px"></div>
    </section>
</main>

@* <aside style="float: right; max-width: min(400px, 25%)"> *@
@* *@
@*     <hr/> *@
@* *@
@*     <h2 style="font-size: medium"> *@
@*         StartSCH *@
@*     </h2> *@
@*     <ul> *@
@*         <li> *@
@*             <a href="https://github.com/kir-dev/StartSCH">Forráskód</a> *@
@*         </li> *@
@*         <li> *@
@*             <a href="https://github.com/kir-dev/StartSCH/issues">Hibajelentés</a> *@
@*         </li> *@
@*         <li> *@
@*             <a href="https://github.com/kir-dev/StartSCH/discussions/categories/ideas">Ötletek</a> *@
@*         </li> *@
@*         <li> *@
@*             <a href="https://github.com/kir-dev/StartSCH/discussions/categories/q-a">Kérdések</a> *@
@*         </li> *@
@*     </ul> *@
@* </aside> *@
@* *@
<main>
</main>

@code {
    private IEnumerable<Opening> _openings = [];
    private IEnumerable<Post> _posts = [];

    protected override async Task OnInitializedAsync()
    {
        _openings = await Db.Openings
            .Where(o => o.EndUtc == null)
            .OrderBy(o => o.StartUtc)
            .Include(o => o.Groups)
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();
        _posts = await Db.Posts
            .Where(p => p.PublishedUtc.HasValue)
            .OrderByDescending(p => p.PublishedUtc)
            .Include(p => p.Groups)
            .Include(p => p.Event)
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();
    }

}
