@page "/openings"
@inject Db Db

<h1>Korábbi nyitások</h1>

@foreach (var opening in _openings)
{
    <article style="margin-bottom: 32px">
        <EventPreview Event="@opening"/>
    </article>
}

@code {
    private List<Opening> _openings = [];

    protected override async Task OnInitializedAsync()
    {
        _openings = await Db.Openings
            .Where(o => o.EndUtc != null)
            .OrderByDescending(o => o.StartUtc)
            .Include(o => o.Categories)
            .ThenInclude(c => c.Page)
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();
    }

}
