@page "/openings"
@using StartSch.Services
@inject Db Db
@inject InterestService InterestService

<h1 style="border-bottom: 5px dotted var(--md-sys-color-outline-variant)">Nyitások</h1>

@foreach (var opening in _openings)
{
    <article style="margin-bottom: 32px">
        <EventPreview Event="@opening"/>
    </article>
}

@code {
    private List<PincerOpening> _openings = [];

    protected override async Task OnInitializedAsync()
    {
        await InterestService.LoadIndex;
        _openings = await Db.PincerOpenings
            .Where(o => o.End != null)
            .OrderByDescending(o => o.Start)
            .Include(o => o.EventCategories)
            .ToListAsync();
    }

}
