@page "/openings"
@using Microsoft.EntityFrameworkCore
@using StartSch.Data
@inject Db Db

<h1>Korábbi nyitások</h1>

@foreach (var opening in _openings)
{
    <article style="margin-bottom: 32px">
        <h3 style="margin: 0 0 12px 0">
            @opening.Title
        </h3>
        <div style="margin-bottom: 12px">
            @foreach (var group in opening.Groups)
            {
                <span class="tag">
                    @group.DisplayName
                </span>
            }
        </div>

        @Utils.FormatDateRange(opening.StartUtc, opening.EndUtc)
    </article>
}

@code {
    private List<Opening> _openings = [];

    protected override async Task OnInitializedAsync()
    {
        _openings = await Db.Openings
            .Where(o => o.EndUtc != null)
            .OrderByDescending(o => o.StartUtc)
            .Include(o => o.Groups)
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();
    }

}
