@page "/calendars/personal/edit"
@layout DocumentLayout

<Title>Személyes naptár beállítása</Title>

<div style="display: grid; grid-template-columns: 1fr 1fr">
    <div>
        1
    </div>
    <div>
        2
    </div>
</div>

@code {
}
