@page "/calendars/personal/edit"
@attribute [Authorize]

@using Microsoft.AspNetCore.DataProtection
@using Microsoft.Extensions.Options
@using StartSch.Services
@using StartSch.Wasm

@layout DocumentLayout

@inject Db Db
@inject IHttpContextAccessor HttpContextAccessor
@inject IDataProtectionProvider DataProtectionProvider
@inject IOptions<StartSchOptions> StartSchOptions
@inject IcalendarCache IcalendarCache

@if (_wrongUser)
{
    <p>
        Ez a link egy másik felhasználóhoz tartozik. A használatához jelentkezz át a megfelelő fiókba.
        <LogOutForm>
            <expressive-button class="small round filled standard" type="submit">
                Kijelentkezés
            </expressive-button>
        </LogOutForm>
    </p>

    return;
}

<PersonalCalendarConfigurator
    InitialEncryptionToken="@_encryptionToken"
    InitialContext="@_personalCalendarContext"
    PublicUrl="@StartSchOptions.Value.PublicUrl"/>

@code {
    private bool _wrongUser;
    private string? _encryptionToken;

    private readonly PersonalCalendarContextDto _personalCalendarContext = new() { Calendars = [] };

    [SupplyParameterFromQuery(Name = "key")]
    public string? ProtectedEncryptionToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int userId = HttpContextAccessor.HttpContext!.User.GetId();
        if (ProtectedEncryptionToken == null)
        {
            bool hasCalendars = await Db.PersonalCalendars.AnyAsync(e => e.User.Id == userId);

            if (!hasCalendars)
            {
                _encryptionToken = new PersonalCalendarEncryptionToken(
                    Crypto.GenerateAesEncryptionKey(),
                    userId
                ).Protect(DataProtectionProvider);
            }
        }
        else
        {
            var encryptionToken = PersonalCalendarEncryptionToken.Unprotect(
                ProtectedEncryptionToken, DataProtectionProvider
            );
            if (userId != encryptionToken.UserId)
            {
                _wrongUser = true;
                return;
            }

            _encryptionToken = ProtectedEncryptionToken;

            _personalCalendarContext.ConfigJson = (await Db.Users.FirstAsync(u => u.Id == userId))
                .PersonalCalendarConfiguration;

            _personalCalendarContext.Calendars = (await Db.PersonalCalendars
                    .Where(c => c.UserId == userId)
                    .ToListAsync())
                .Select(c =>
                {
                    PersonalCalendarLive l = c switch
                    {
                        PersonalStartSchCalendar => new PersonalStartSchCalendarLive
                        {
                            IcsUrl = PersonalCalendarExportUrlExtensions.GenerateIcsUrl(
                                c.Id, encryptionToken.AesKey, StartSchOptions.Value.PublicUrl, DataProtectionProvider
                            ),
                        },
                        PersonalNeptunCalendar => new PersonalNeptunCalendarLive(),
                        PersonalMoodleCalendar => new PersonalMoodleCalendarLive(),
                        _ => throw new NotImplementedException(),
                    };
                    l.Id = c.Id;
                    l.Name = c.Name;
                    (l as ExternalPersonalCalendarLive)?.Url =
                        ((ExternalPersonalCalendar)c).GetUrl(encryptionToken.AesKey);
                    return l;
                })
                .ToList();

            await Task.WhenAll(
                _personalCalendarContext.Calendars
                    .OfType<ExternalPersonalCalendarLive>()
                    .Select(async c => c.Events.AddRange(await IcalendarCache.GetEvents(c.Url, c.GetType())))
            );
        }
    }

}
