@page "/calendars/personal/edit"
@attribute [Authorize]

@using Microsoft.AspNetCore.DataProtection
@using Microsoft.Extensions.Options
@using StartSch.Services
@using StartSch.Wasm

@layout DocumentLayout

@inject Db Db
@inject IHttpContextAccessor HttpContextAccessor
@inject IDataProtectionProvider DataProtectionProvider
@inject IOptions<StartSchOptions> StartSchOptions
@inject PersonalCalendarService PersonalCalendarService
@inject NavigationManager NavigationManager

@if (Key == null)
{
    <div>TODO: prompt for .ics URL</div>
    return;
    
    //TODO: ADD FORM FOR .ICS AND FOR RESETTING
}

@if (_wrongUser)
{
    <p>
        Ez a link egy másik felhasználóhoz tartozik. A használatához jelentkezz át a megfelelő fiókba.
        <LogOutForm>
            <expressive-button class="small round filled standard" type="submit">
                Kijelentkezés
            </expressive-button>
        </LogOutForm>
    </p>

    return;
}

<PersonalCalendarConfigurator
    InitialEncryptionToken="@_encryptionToken"
    InitialContext="@_personalCalendarContext"
    PublicUrl="@StartSchOptions.Value.PublicUrl"/>

@code {
    private bool _wrongUser;
    private string? _encryptionToken;

    private PersonalCalendarContextDto _personalCalendarContext = null!;

    [SupplyParameterFromQuery(Name = "key")]
    public string? Key { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int userId = HttpContextAccessor.HttpContext!.User.GetId();
        User user = await Db.Users
            .Include(x => x.DefaultPersonalCalendarCategory)
            .Include(x => x.DefaultPersonalCalendarExamCategory)
            .Include(x => x.PersonalCalendars)
            .FirstAsync(x => x.Id == userId);

        if (Key == null)
        {
            if (user.PersonalCalendars.Count > 0)
                // has used calendars before, prompt for encryption token
                return;
            
            string encryptionToken = new PersonalCalendarEncryptionToken(
                userId,
                Crypto.GenerateAesEncryptionKey()
            ).Serialize(DataProtectionProvider);

            user.DefaultPersonalCalendarCategory = new() { Name = "Alapértelmezett" };
            user.DefaultPersonalCalendarExamCategory = new() { Name = "Számonkérések" };
            user.PersonalCalendars.AddRange(
                user.DefaultPersonalCalendarCategory,
                user.DefaultPersonalCalendarExamCategory,
                new PersonalStartSchCalendar { Name = "Rejtett" },
                new PersonalStartSchCalendar { Name = "Választható" },
                new PersonalStartSchCalendar { Name = "Kötelező" },
                new PersonalStartSchCalendar { Name = "Követett" }
            );

            NavigationManager.NavigateTo($"/calendars/personal/edit?key={encryptionToken}");
            return;
        }
        
        var unprotectedEncryptionToken = PersonalCalendarEncryptionToken.Deserialize(Key, DataProtectionProvider);
        if (userId != unprotectedEncryptionToken.UserId)
        {
            _wrongUser = true;
            return;
        }

        _encryptionToken = Key;
        _personalCalendarContext = await PersonalCalendarService.GetContextDto(user, unprotectedEncryptionToken.AesKey);
    }

}
