@page "/posts/{PostId:int}/delete"

@using StartSch.Services

@rendermode InteractiveServerWithoutPrerendering
@layout MainLayout
@inherits ResourcePage<Post>

@inject Db Db
@inject NavigationManager Nav
@inject AuthorizationService AuthorizationService

@if (!IsResourceAvailable(_post, AuthorizationService.CanDelete, out var status))
{
    <ResourceUnavailable Status="@status"/>
    return;
}

<Title>Poszt törlése</Title>

Biztosan törölni szeretnéd ezt a posztot?

<div style="margin: 16px 0; border: 1px solid var(--md-sys-color-outline-variant); padding: 16px; border-radius: 16px">
    <PostPreview Post="@_post"/>
</div>

<expressive-button @onclick="@Delete" class="small filled error square" disabled="@_isBusy" type="submit">
    <md-icon slot="icon">delete</md-icon>
    Törlés
</expressive-button>

@code {

    private Post? _post;
    private bool _isBusy;

    [Parameter] public int PostId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (_isBusy) return;
        _isBusy = true;

        _post = await Db.Posts
            .Include(p => p.Categories)
            .ThenInclude(c => c.Page)
            .AsNoTrackingWithIdentityResolution()
            .FirstOrDefaultAsync(p => p.Id == PostId);

        _isBusy = false;
    }

    private async Task Delete()
    {
        if (_isBusy) return;
        _isBusy = true;
        StateHasChanged();

        Post? post = await Db.Posts
            .Include(p => p.Categories)
            .ThenInclude(c => c.Page)
            .FirstOrDefaultAsync(p => p.Id == PostId);
        if (post == null)
            return;
        if (!AuthorizationService.CanDelete(post))
            return;
        Db.Posts.Remove(post);
        await Db.SaveChangesAsync();

        Nav.NavigateTo("/");
    }

}
