@page "/posts/{id:int}"
@page "/posts/{id:int}-{slug}"
@attribute [StreamRendering]

@inherits ResourcePage
@inject Db Db

<main>
    @if (!IsResourceAvailable(_post, ResourceAccessRequirement.Read, out var resourceUnavailabilityStatus))
    {
        <ResourceUnavailable Status="@resourceUnavailabilityStatus"/>
    }
    else
    {
        <PageTitle>@_post.Title | StartSCH</PageTitle>
        <PostView Post="@_post"/>
    }
</main>

@code {
    private Post? _post;

    [Parameter] public int Id { get; set; }
    [Parameter] public string? Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _post = await Db.Posts
            .Include(p => p.Groups)
            .Include(p => p.Event)
            .AsNoTrackingWithIdentityResolution()
            .FirstOrDefaultAsync(p => p.Id == Id);
    }

}