@page "/posts/{id:int}"
@page "/posts/{id:int}-{slug}"

@using StartSch.Services
@inherits ResourcePage
@inject Db Db
@inject InterestService InterestService

<main>
    @if (!IsResourceAvailable(_post, ResourceAccessRequirement.Read, out var resourceUnavailabilityStatus))
    {
        <ResourceUnavailable Status="@resourceUnavailabilityStatus"/>
    }
    else
    {
        <PageTitle>@_post.Title | StartSCH</PageTitle>
        <PostView Post="@_post"/>
    }
</main>

@code {
    private Post? _post;

    [Parameter] public int Id { get; set; }
    [Parameter] public string? Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InterestService.LoadIndex;
        _post = await Db.Posts
            .Include(p => p.PostCategories)
            .Include(p => p.Event)
            .FirstOrDefaultAsync(p => p.Id == Id);
    }

}
