@page "/TestPage"
@layout DocumentLayout
<h3>TestPage</h3>

<connected-button-select>
    <connected-button-select-option value="one">
        Csak ez
    </connected-button-select-option>
    <connected-button-select-option value="all">
        Mindegyik ebben a sorozatban
    </connected-button-select-option>
    <connected-button-select-option value="all2">
        Mindegyik ebben a sorozatban2
    </connected-button-select-option>
</connected-button-select>
