@page "/admin/pincer/posts/{PostId:int}/edit"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize("PostWrite")]

<h2>Poszt szerkesztés</h2>
<div class="tags">
    <div>asd</div>
</div>

@code {
    [Parameter] public int PostId { get; set; }
}
