@page "/admin/pincer/{GroupId:int}/new-post"
@using StartSch.Services
@rendermode InteractiveServer
@inject IServiceProvider Services
@attribute [PincerGroupAdminRequirement]

<div style="display: flex">
    <div style="flex: 1">
        <h2>Új poszt</h2>

        <label>
            Szoveg
            <input type="text" @bind="@_body"/>
        </label>
    </div>

    <div style="background-color: var(--md-sys-color-surface-container-high); border-radius: 32px; padding: 16px; flex: 1">
        <h3>Előnézet</h3>
        @_body
    </div>
</div>

<FilledButton OnClick="@Send">
    Publikálás
</FilledButton>

@code {
    private string _body = "";

    [Parameter] public int GroupId { get; set; }

    private async Task Send()
    {

        await using var scope = Services.CreateAsyncScope();
        var pushService = scope.ServiceProvider.GetRequiredService<PushService>();
        await pushService.SendNotification(new("StartSCH", _body, null, null), ["push.pincér.hírek"]);
    }
}