* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, menu, li, a, span, input, button, textarea {
    margin: 0;
    padding: 0;
}

body {
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

small {
    color: var(--md-sys-color-on-surface-variant);
}

img {
    max-width: 100%;
}

li {
    margin-left: 16px;
}

hr {
    border: none;
    border-top: 1px solid var(--md-sys-color-outline-variant);
    margin: 16px;
}

input, textarea, select {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    border: none;
    border-radius: 4px;
    padding: 4px;

    width: 100%;
    display: block;
}

.tag-group-toggle input {
    width: unset;
    display: unset;
}

textarea {
    resize: vertical;
    max-width: 100%;
}
