md-text-button {
    &.error {
        --md-sys-color-primary: var(--md-sys-color-error);
    }
}

:root {
    --md-outlined-button-leading-space: 16px; /* material-web uses wrong padding */
    --md-outlined-button-trailing-space: 16px;
}
