:root {
    --md-sys-color-primary: #3A608F;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #D3E3FF;
    --md-sys-color-on-primary-container: #001C39;
    --md-sys-color-secondary: #545F70;
    --md-sys-color-on-secondary: #FFFFFF;
    --md-sys-color-secondary-container: #D8E3F8;
    --md-sys-color-on-secondary-container: #111C2B;
    --md-sys-color-tertiary: #6D5677;
    --md-sys-color-on-tertiary: #FFFFFF;
    --md-sys-color-tertiary-container: #F5D9FF;
    --md-sys-color-on-tertiary-container: #261430;
    --md-sys-color-error: #BA1A1A;
    --md-sys-color-on-error: #FFFFFF;
    --md-sys-color-error-container: #FFDAD6;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-surface: #FAF9FD;
    --md-sys-color-on-surface: #1A1C1E;
    --md-sys-color-surface-variant: #DFE2EB;
    --md-sys-color-on-surface-variant: #46474A;
    --md-sys-color-outline: #76777A;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #2F3033;
    --md-sys-color-inverse-on-surface: #F1F0F4;
    --md-sys-color-inverse-primary: #A4C9FE;
    --md-sys-color-surface1: #F3F4F9;
    --md-sys-color-surface2: #EDEFF6;
    --md-sys-color-surface3: #E7EAF2;
    --md-sys-color-surface4: #E6E9F1;
    --md-sys-color-surface5: #E2E6EF;
    --md-sys-color-surface-dim: #DAD9DD;
    --md-sys-color-surface-bright: #FAF9FD;
    --md-sys-color-surface-container-lowest: #FFFFFF;
    --md-sys-color-surface-container-low: #F4F3F7;
    --md-sys-color-surface-container: #EEEDF1;
    --md-sys-color-surface-container-high: #E8E8EB;
    --md-sys-color-surface-container-highest: #E3E2E6;
    --md-sys-color-outline-variant: #C6C6CA;
    --md-sys-color-primary2: #496C97;

    --shadow-color: #c6c6ca;
    --startsch-sys-color-main-section-bg: #ececec;
    --startsch-sys-color-page-bg: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: #A4C9FE;
        --md-sys-color-on-primary: #00315C;
        --md-sys-color-primary-container: #1F4876;
        --md-sys-color-on-primary-container: #D3E3FF;
        --md-sys-color-secondary: #BCC7DB;
        --md-sys-color-on-secondary: #263141;
        --md-sys-color-secondary-container: #3C4758;
        --md-sys-color-on-secondary-container: #D8E3F8;
        --md-sys-color-tertiary: #D9BDE3;
        --md-sys-color-on-tertiary: #3C2946;
        --md-sys-color-tertiary-container: #543F5E;
        --md-sys-color-on-tertiary-container: #F5D9FF;
        --md-sys-color-error: #FFB4AB;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000A;
        --md-sys-color-on-error-container: #FFB4AB;
        --md-sys-color-surface: #121316;
        --md-sys-color-on-surface: #E3E2E6;
        --md-sys-color-surface-variant: #43474E;
        --md-sys-color-on-surface-variant: #C6C6CA;
        --md-sys-color-outline: #909094;
        --md-sys-color-shadow: #000000;
        --md-sys-color-inverse-surface: #E3E2E6;
        --md-sys-color-inverse-on-surface: #2F3033;
        --md-sys-color-inverse-primary: #3A608F;
        --md-sys-color-surface1: #202428;
        --md-sys-color-surface2: #24292F;
        --md-sys-color-surface3: #292E36;
        --md-sys-color-surface4: #2A3038;
        --md-sys-color-surface5: #2C333C;
        --md-sys-color-surface-dim: #121316;
        --md-sys-color-surface-bright: #38393C;
        --md-sys-color-surface-container-lowest: #0D0E11;
        --md-sys-color-surface-container-low: #1A1C1E;
        --md-sys-color-surface-container: #1E2022;
        --md-sys-color-surface-container-high: #292A2D;
        --md-sys-color-surface-container-highest: #333538;
        --md-sys-color-outline-variant: #46474A;
        --md-sys-color-primary2: #97BDF1;

        --startsch-sys-color-main-section-bg: #111111;
        --startsch-sys-color-page-bg: #141414;
        --shadow-color: #121316;
    }
}
