* {
    --sys-startsch-font-sans: "Inter", sans-serif;
    --sys-startsch-font-serif: "PT Serif", serif;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: var(--sys-startsch-font-sans);
    --md-ref-typeface-plain: var(--sys-startsch-font-sans);
}

.display h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 64px;
    font-weight: 900;
}

h1, h2{
    font-family: 'DM Serif Text', serif;
    font-weight: 900;
}

h3 {
    font-family: var(--sys-startsch-font-serif);
    font-weight: 500;
}
