#home-page {
    @media (width > 1016px) {
        main, .top-bar {
            display: contents;
        }

        #news {
            grid-column: middle;
            grid-row: 1 / 4;
            background-color: var(--md-sys-color-surface-container-low);
            margin-top: 24px;
            padding: 16px;
        }
    }

    @media (width <= 1016px) {
        main {
            display: contents;

            #left-widgets {
                display: none;

                #events {
                }
            }

            #right-widgets {
                grid-column: 2 / 5;
                grid-row: openings;

                display: flex;
                flex-direction: column;
                gap: 24px;

                #openings {
                    padding: 16px;
                }

                #about {
                    display: none;
                }
            }

            #news {
                grid-column: middle;
                grid-row: news;
            }
        }
    }

    #events {
        h2 {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 24px;
        }
    }

    #openings {
        h2 {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 24px;
        }

        article {
            margin-top: 8px;
            line-height: 1.5;

            h3 {
                font-size: 16px;
                font-weight: 500;
            }

            .icon-buttons {
                display: inline-flex;
            }

            .date-display {
                font-size: 14px;
                color: var(--md-sys-color-on-surface-variant);
            }

            @media not (max-width: 900px) {
            }

            @media (max-width: 900px) {
            }
        }
    }

    #about {
        h2 {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 24px;
        }
    }
}
