.post .body {
    line-height: 1.6;
    font-family: 'DM Serif Text';
    p {
        margin-bottom: 16px;
    }
}

.post-preview .body {
    max-height: 2lh;
    overflow: clip;

    line-height: 1.5;
    font-variation-settings: "wdth" 80, "opsz" 14;
    font-size: 14px;

    p {
        display: inline;
        margin-right: .4em;

        &:empty {
            display: none;
        }
    }
}
