@inherits LayoutComponentBase
@layout MainLayout

<HeadContent>
    <link rel="stylesheet" href="admin.css">
</HeadContent>
<PageTitle>Adminisztráció | StartSCH</PageTitle>

<h1>Adminisztráció</h1>

<div class="admin-pages-container">
    <nav>
        <NavLink href="/admin" Match="@NavLinkMatch.All">Főoldal</NavLink>
        <details open>
            <summary>Pincér</summary>
            <NavLink href="/admin/pincer/new-post">Új poszt</NavLink>
            <NavLink href="/admin/pincer/new-opening">Új nyitás</NavLink>
        </details>
        <div>
        </div>
    </nav>
    <main>
        @Body
    </main>
</div>