@inherits LayoutComponentBase

<nav style="display: flex">
    <div style="display: flex; flex-direction: column; width: fit-content">
        <a href="/" style="cursor: pointer">
            <h1 style="margin-bottom: 0">StartSCH</h1>
        </a>
        <a href="list" style="cursor: pointer; align-self: end; opacity: .6">
            kezdd itt
        </a>
    </div>

    <div style="flex: 1; display: flex; justify-content: end; align-items: center; gap: 24px; padding: 0 24px">
        <a href="/">Hírek</a>
        <a href="/list">Lista</a>
        <a href="/calendar">Naptár</a>
        <a href="/notifications">Értesítések</a>
        <AuthorizeView Policy="Admin">
            <a href="/admin">Adminisztráció</a>
        </AuthorizeView>
    </div>
</nav>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>