@layout DocumentLayout
@inherits LayoutComponentBase

<div id="main-layout">
    <header class="top-bar">
        <div id="logo">
            <a href="/">
                <Title>
                    <WordmarkLogo/>
                </Title>
            </a>
        </div>

        <div id="menu-toggle">
            <md-icon-button onclick="toggleMenu()">
                <md-icon>menu</md-icon>
            </md-icon-button>
        </div>

        <div id="top-level-links">
            <TopLevelLinks/>
        </div>

        <MiscLinks />
    </header>

    <div class="scrim" onclick="toggleMenu()"></div>

    <div class="main-content">
        <div id="right-widgets">
            <section id="about">
                <h2>
                    StartSCH
                </h2>
                <MiscLinks />
            </section>
        </div>

        <main>
            @Body
        </main>
    </div>
</div>

<script>
    function toggleMenu() {
        document.body.children[0].classList.toggle("menu-open");
    }
</script>
