@inherits LayoutComponentBase

<nav style="display: flex">
    <div style="display: flex; flex-direction: column; width: fit-content">
        <a href="/" class="logo">
            StartSCH
        </a>
        <a href="/list" class="logo-subtext">
            Kezdd itt
        </a>
    </div>

    <menu
        class="navbar-links"
        style="flex: 1; display: flex; justify-content: end; align-items: center; gap: 24px; padding: 0 24px">
        <a href="/">Hírek</a>
        <a href="/list">Lista</a>
        <a href="/calendar">Naptár</a>
        <a href="/preferences">Beállítások</a>
        <AuthorizeView Policy="Admin">
            <a href="/dashboard">Adminisztráció</a>
        </AuthorizeView>
    </menu>
</nav>

<PushCheckBanner/>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
