@inherits LayoutComponentBase

<header class="top-bar">
    <div class="logo">
        <h1 class="title">
            <a href="/">
                StartSCH
            </a>
        </h1>
        <div class="tagline">
            Kezdd itt
        </div>
    </div>

    <button class="menu-toggle">
        <icon>
            menu
        </icon>
    </button>

    <menu class="links">
        <li><a href="/">Hírek</a></li>
        <li><a href="/list">Linkek</a></li>
        <li><a href="/calendar">Naptár</a></li>
        <li><a href="/preferences">Beállítások</a></li>
        <AuthorizeView Policy="Admin">
            <li><a href="/dashboard">Adminisztráció</a></li>
        </AuthorizeView>
    </menu>
</header>

<PushCheckBanner/>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
