@inherits LayoutComponentBase

<header class="top-bar">
    <div class="logo">
        <a href="/">
            StartSCH
        </a>
    </div>

    <button class="menu-toggle">
        <icon>
            menu
        </icon>
    </button>

</header>

<PushCheckBanner/>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
