.admin-pages-container {
    display: flex;
    align-items: start;

    h1 {
        margin: 0;
        padding: 0;
    }

    nav {
        padding: 16px;
        width: 128px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
            color: var(--md-sys-color-secondary);

            span {
                padding: 2px 8px;
            }

            &.active span {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                border-radius: 16px;
            }
        }
    }

    main {
        border-radius: 64px;
        padding: 16px;
        background-color: var(--md-sys-color-surface-container);
        flex: 1;
    }

    input, textarea {
        width: 100%;
        max-width: 100%;
        display: block;
    }

    textarea {
        resize: vertical;
    }
}

@media (width <= 1250px) {
    .admin-pages-container {
        display: block;

        nav {
            flex-direction: row;
            flex-wrap: wrap;
            width: unset;
        }
    }
}