@media (width >= 1016px) {
    .card {
        padding: 20px;
    }
}
@media (width < 1016px) {
    .card {
        padding: 16px;
    }
}

.card {
    &.post {
        background-color: var(--sch-comp-card-container-color);
        color: var(--sch-comp-card-content-color);
    }
    
    &.event {
        border: 1px solid var(--md-sys-color-outline-variant);
        background-color: var(--md-sys-color-surface-container-high);
    }

    border-radius: 4px;

    &:first-child {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    &:last-child {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    
    .container-content {
        background-color: var(--md-sys-color-surface-container-low);
        padding: 16px;
        border: 1px solid var(--md-sys-color-outline-variant);
        border-radius: 16px;
        margin-bottom: 12px;
    }
    
    .top-details {
        margin-bottom: 10px;
        align-items: center;
        
        &:has(.admin-buttons *) {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 8px;
        }
    }
    
    .title {
        font-family: var(--md-sys-typescale-title-medium-font);
        font-size: var(--md-sys-typescale-title-medium-size);
        line-height: var(--md-sys-typescale-title-medium-line-height);
        font-weight: var(--md-sys-typescale-title-medium-weight);
        letter-spacing: var(--md-sys-typescale-title-medium-tracking)
    }
    
    .middle-details {
    }
    
    .content {
        font-family: var(--md-sys-typescale-body-medium-font);
        font-size: var(--md-sys-typescale-body-medium-size);
        line-height: var(--md-sys-typescale-body-medium-line-height);
        font-weight: var(--md-sys-typescale-body-medium-weight);
        letter-spacing: var(--md-sys-typescale-body-medium-tracking);
    }
}
