.selected-event {
    grid-column: 1;
    grid-row: 2;
    z-index: 10;
    width: min(calc(100% - 32px), 800px);
    min-width: 0; /* fix overflow stuff in firefox */
    max-height: 80%;
    align-self: end;
    justify-self: center;
    background-color: var(--md-sys-color-surface-container);
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: var(--md-sys-shadow-4);

    .property-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 16px 0 24px 0;

        li {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 8px;

            md-icon {
                font-size: 22px;
                color: var(--md-sys-color-on-surface-variant)
            }
        }
    }

    .selected-event-settings {
        position: relative;
        border-radius: 8px;
        background-color: var(--md-sys-color-surface-container-lowest);
        padding: 16px;
        margin-top: 16px;

        .section-label {
            position: absolute;
            background-color: var(--md-sys-color-surface-container-lowest);
            top: 0;
            translate: -6px -50%;
            padding: 0 6px;
            color: var(--md-sys-color-on-surface-variant);
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
        }

        .select-targets {
            background-color: var(--md-sys-color-surface-container);
            padding: 12px 16px;
            border-radius: 8px;
            margin-bottom: 16px;

            h4 {
                margin-bottom: 8px;
            }
        }
        
        .option-with-reset-button {
            &:has(.reset-button) {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 8px;
            }
        }
    }
}
