<h3>Placeholder</h3>

All previous Blazor WASM components have been replaced by Lit components, so this is currently unused. 
Later on, the custom calendar creator might be built using WASM, so I left a placeholder component here until then.
