@rendermode InteractiveWebAssembly

<div style="display: flex; gap: 48px">
    <div>
        @foreach (var tag in Tags)
        {
            <TagGroupToggle Tag="@tag" UpdateParent="@UpdateParent"/>
        }
    </div>
    <div>
        <b>Client</b>
        @foreach (var tag in Tags.SelectMany(l => l.SerializeSelection()))
        {
            <p>@tag</p>
        }
    </div>
</div>



@code {

    [Parameter, EditorRequired] public required List<TagGroup> Tags { get; set; }
    [Parameter] public EventCallback UpdateParent { get; set; }
}