@rendermode InteractiveWebAssembly

<div style="display: flex; gap: 48px">
    <div>
        @foreach (var tag in _roots)
        {
            <TagGroupToggle Tag="@tag" OnClick="@(() => StateHasChanged())"/>
        }
    </div>
    <div>
        @foreach (var tag in _roots.SelectMany(l => l.SerializeSelection()))
        {
            <p>@tag</p>
        }
    </div>
</div>

@code {

    public IEnumerable<TagGroup<TagDetails>> Tags =>
    [
        new("push", "Telefonos ertesitesek", [
            new("tanfolyam", "Tanfolyam"),
            new("esemény", "Esemény"),
        ]),
        new("email", "Email ertesitesek", [
            new("tanfolyam", "Tanfolyam"),
            new("esemény", "Esemény"),
        ]),
    ];

    public IEnumerable<TagGroup<TagDetails>> Tags2 =>
    [
        new("push", null, [
            new("qpa", "QPA"),
            new("esemény"),
        ]),
        new("email", null, [
            new("qpa", "QPA"),
            new("esemény"),
        ]),
    ];

    List<SelectableTagGroup<TagDetails>> _roots;

    public TagsSelector()
    {
        _roots = SelectableTagGroup<TagDetails>.Merge(Tags.Concat(Tags2));
        SelectableTagGroup<TagDetails>.DeserializeSelection(_roots, ["email.qpa", "push", "push.qpa"]);
    }

}