@rendermode InteractiveWebAssembly

<div style="display: flex; gap: 48px">
    <div>
        <TagGroupToggle Tag="@_push" OnClick="@(() => StateHasChanged())"/>
        <TagGroupToggle Tag="@_email" OnClick="@(() => StateHasChanged())"/>
    </div>
    <div>
        @foreach (var tag in _push.SerializeSelection())
        {
            <p>
                @tag
            </p>
        }
    </div>
</div>

@code {

    TagGroup _push = new("push", "Telefonos ertesitesek", [
        new("qpa", "QPA"),
        new("pincér", "Pincer", [
            new("hírek"),
            new("rendelés"),
            new("nyitás"),
            new("lángosch", "lang", [
                new("hírek"),
                new("rendelés"),
                new("nyitás"),
            ]),
            new("magyarosch", "hungry", [
                new("hírek"),
                new("rendelés"),
                new("nyitás"),
            ]),
        ]),
        new("tanfolyam", "Tanfolyam"),
        new("esemény", "Esemény"),
    ]);

    TagGroup _email = new("email", "Email ertesitesek", [
        new("qpa", "QPA"),
        new("pincér", "Pincer", [
            new("hírek"),
            new("rendelés"),
            new("nyitás"),
            new("lángosch", "lang", [
                new("hírek"),
                new("rendelés"),
                new("nyitás"),
            ]),
            new("magyarosch", "hungry", [
                new("hírek"),
                new("rendelés"),
                new("nyitás"),
            ]),
        ]),
        new("tanfolyam", "Tanfolyam"),
        new("esemény", "Esemény"),
    ]);

    public TagsSelector()
    {
        TagGroup.DeserializeSelection([_push, _email], ["email.pincér.magyarosch", "push", "push.qpa"]);
    }

}