.edit-preview-container {
    background-color: var(--md-sys-color-surface-dim);
    border-radius: 48px;
    padding: 16px;
    flex: 1;
    align-self: flex-start;

    > span {
        color: var(--md-sys-color-on-surface-variant);
        font-size: 14px;
        font-weight: bold;
        margin-left: 32px;
    }

    > div {
        background-color: var(--md-sys-color-background);
        padding: 32px;
        border-radius: 32px;
    }
}