.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto Serif", serif;
}

/*
h1, .h1 {
    font-size: 32px;
    font-weight: 700;
    font-variation-settings: "wdth" 100;
}

.h1 {
    h1 {
        display: inline;
    }

    icon {
        font-weight: 500;
        font-variation-settings: "opsz" 48;
        transform: translateY(10%);
    }
}

h3, .h3 {
    font-size: 16px;
    font-weight: 700;
    font-variation-settings: "wdth" 100;
}

.h3 {
    h3 {
        display: inline;
    }

    icon {
        font-weight: 400;
        font-variation-settings: "opsz" 20;
        transform: translateY(10%);
    }
}
*/

/*
.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto; // default
  font-weight: <100 to 900>;
  font-variation-settings:
    "wdth" <width, 50 to 150>,
    "GRAD" <grade, -50 to 100>;
}
*/
