.home-page {
    main, .top-bar {
        display: contents;
    }

    display: grid;

    @media (width > 1350px) {
        grid-template-columns: 1fr [left] min-content 32px [middle] 600px 32px [right] 300px min-content [end] 1.2fr;
        grid-template-rows: 96px 16px min-content repeat(5, 64px min-content) [end];
        align-items: start;

        #logo {
            grid-column: left;
            grid-row: 1;
            justify-self: end;
            align-self: center;
        }

        #top-level-links {
            grid-column: right / end;
            grid-row: 1;

            menu {
                justify-content: space-between;
            }
        }

        #menu-toggle {
            display: none;
        }

        #events {
            display: none;
            grid-column: 1;
            grid-row: 3;
        }

        #news {
            grid-column: middle;
            grid-row: 1 / end;
            background-color: var(--md-sys-color-surface-container);
            margin-top: 16px;
        }

        #openings {
            grid-column: right;
            grid-row: 3;
        }

        #about {
            grid-column: right;
            grid-row: 5;
        }
    }

    @media (800px <= width <= 1350px) {
        grid-template-columns: 1fr [left] min-content 32px [middle] 600px 32px [right] 300px [end] 1fr;
        grid-template-rows: 96px 16px min-content repeat(5, 64px min-content) [end];
        align-items: start;

        #logo {
            grid-column: middle;
            grid-row: 1;
            justify-self: start;
            align-self: center;
        }

        #top-level-links {
            grid-column: middle / end;
            grid-row: 1;

            menu {
                justify-content: end;
            }
        }

        #menu-toggle {
            display: none;
        }

        #events {
            display: none;
            grid-column: 1;
            grid-row: 3;
        }

        #news {
            grid-column: middle;
            grid-row: 2 / end;
            background-color: var(--md-sys-color-surface-container);
            margin-top: 0;
        }

        #openings {
            grid-column: right;
            grid-row: 3;
        }

        #about {
            grid-column: right;
            grid-row: 5;
        }
    }

    @media (width <= 900px) {
        max-width: 650px;
        margin: auto;
    }

    #top-level-links {
        align-self: center;

        menu {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 24px;

            li {
                margin-left: 0;

                a {
                    padding: 12px 0;
                }
            }
        }
    }

    #news {
        padding: 20px;
    }

    #openings {
        h2 {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 24px;
        }

        article {
            margin-top: 8px;
            line-height: 1.5;

            h3 {
                margin-left: 5px;
                font-size: 16px;
                font-weight: 500;
            }

            .icon-buttons {
                display: inline-flex;
            }

            .date-display {
                font-size: 14px;
                color: var(--md-sys-color-on-surface-variant);
            }

            @media not (max-width: 900px) {
            }

            @media (max-width: 900px) {
            }
        }
    }

    #about {
        h2 {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);
            margin-bottom: 24px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                margin: 0;
            }

            icon {
                font-size: 20px;
                color: var(--md-sys-color-on-surface-variant);
                translate: 0 4px;
            }
        }
    }
}
