/*
Used by:
EventView, EventPreview, PostView, PostPreview, GroupPage
*/

.post, .post-preview {
    .title {
        display: flex;
        align-items: center;

        .icon-buttons {
            display: flex;
            margin-left: 8px;
            gap: 8px;

            icon {
                display: block;
            }
        }
    }

    .label-list {
        list-style: none;

        li {
            margin-left: 0;

            display: flex;
            align-items: center;
            gap: 6px;
        }

        .label {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 3px;

            color: var(--md-sys-color-on-surface-variant);

            a {
                color: inherit;
            }
        }
    }

    .title, .label-list {
        a {
            display: block;
        }
    }

    &.draft {
        opacity: .65;
    }
}

.post {
    .title {
        margin-top: 8px;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }

        .icon-buttons {
            font-size: 32px;
            font-weight: 450;
            font-variation-settings: "opsz" 32;
        }
    }

    .label-list {
        li {
            margin-top: 8px;
        }

        .label {
            font-size: 20px;
            font-weight: 400;
            font-variation-settings: "wdth" 50, "opsz" 14;

            icon {
                font-size: 24px;
                font-weight: 350;
                font-variation-settings: "opsz" 18;
            }

            a {
                font-weight: 600;
            }
        }
    }

    .body {
        margin-top: 16px;
    }
}

.post-preview {
    .title {
        margin-top: 16px;

        h3 {
            font-size: 16px;
            font-weight: 700;
        }

        .icon-buttons {
            font-size: 24px;
            font-weight: 400;
            font-variation-settings: "opsz" 24;
        }
    }

    .label-list {
        li {
            margin-top: 4px;
        }

        .label {
            font-size: 14px;
            font-weight: 400;
            font-variation-settings: "wdth" 50, "opsz" 14;

            icon {
                font-size: 18px;
                font-weight: 350;
                font-variation-settings: "opsz" 18;
            }

            a {
                font-weight: 600;
            }
        }
    }

    .body {
        margin-top: 8px;
    }
}
