.post, .post-preview {
    &.draft {
        opacity: .6;
    }
}

.post-preview {
    line-height: 1.45;

    .content {
        max-height: 2lh;
        overflow: clip;
        text-overflow: ellipsis;

        font-variation-settings: "wdth" 80;

        p {
            display: inline;
            margin-right: .5em;
        }
    }
}

.post {
    line-height: 1.5;

    .content {
        p {
            margin-bottom: 16px;
        }
    }
}
