<category-list categories="[@(string.Join(',', Categories.Select(c => c.Id)))]">
    @* SEO, not visible if JS is enabled *@
    @foreach (var page in Categories.Select(c => c.Page).Distinct())
    {
        <a href="/pages/@(page.Id)">@(page.GetName())</a>
    }
</category-list>

@code {
    [Parameter, EditorRequired] public required List<Category> Categories { get; set; }
}
