<span title="@DateFormatter.FormatDateFull(DateUtc ?? new())">
    @DateFormatter.FormatDate(DateUtc ?? new(), DateTime.UtcNow)
</span>

@code {
    [Parameter, EditorRequired] public required DateTime? DateUtc { get; set; }
}
