<span>
    @DateFormatter.FormatUtc(DateUtc ?? new(), EndUtc, NowUtc ?? DateTime.UtcNow)
</span>

@code {
    [Parameter, EditorRequired] public required DateTime? DateUtc { get; set; }
    [Parameter] public DateTime? EndUtc { get; set; }
    [Parameter] public DateTime? NowUtc { get; set; }
}
