<span>
    @DateFormatter.Format(Date ?? new(), End, Now ?? SystemClock.Instance.GetCurrentInstant())
</span>

@code {
    [Parameter, EditorRequired] public required Instant? Date { get; set; }
    [Parameter] public Instant? End { get; set; }
    [Parameter] public Instant? Now { get; set; }
}
