@using Microsoft.Extensions.Options

@inject IOptions<StartSchOptions> Options

@((MarkupString)HtmlContent)

@* based on emails sent by GitHub *@
<p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">
    &mdash;<br/>
    <a href="@Options.Value.PublicUrl/posts/@PostId">Poszt megnyitása StartSCH-n</a>
    vagy
    <a href="@Options.Value.PublicUrl/preferences">email beállítások módosítása</a>
</p>

@code {
    [Parameter, EditorRequired] public required string HtmlContent { get; set; }
    [Parameter, EditorRequired] public required int PostId { get; set; }
}