<menu class="misc-links">

    <li>
        <md-text-button href="https://github.com/kir-dev/StartSCH">
            <md-icon slot="icon">code</md-icon>
            Forráskód
        </md-text-button>
    </li>
    <li>
        <md-text-button href="https://github.com/kir-dev/StartSCH/issues">
            <md-icon slot="icon">bug_report</md-icon>
            Hibajelentés
        </md-text-button>
    </li>
    <li>
        <md-text-button href="https://github.com/kir-dev/StartSCH/discussions/categories/ideas">
            <md-icon slot="icon">lightbulb</md-icon>
            Ötletek, visszajelzés
        </md-text-button>
    </li>
    <li>
        <md-text-button href="https://github.com/kir-dev/StartSCH/discussions/categories/q-a">
            <md-icon slot="icon">help</md-icon>
            Kérdések
        </md-text-button>
    </li>
</menu>
