<menu class="links">
    <li><a href="/">Hírek</a></li>
    <li><a href="/list">Linkek</a></li>
    <li><a href="/calendar">Naptár</a></li>
    <li><a href="/preferences">Beállítások</a></li>
    <AuthorizeView Policy="Admin">
        <li><a href="/dashboard">Adminisztráció</a></li>
    </AuthorizeView>
</menu>
