<menu>
    @* <li><a href="/calendar">Naptár</a></li> *@
    <li>
        <expressive-button href="/explore" class="medium square filled">
            <md-icon slot="icon">
                explore
            </md-icon>
            Felfedezés
        </expressive-button>
    </li>
</menu>
