@implements IDisposable

@inject NavigationManager NavigationManager

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>
            <form action="authentication/logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                <FilledButton>
                    Log out @context.User.Identity?.Name
                </FilledButton>
            </form>
        </Authorized>
        <NotAuthorized>
            <LogInAndReturnButton />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.Uri;
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.Uri;
        StateHasChanged();
    }

    public void Dispose() => NavigationManager.LocationChanged -= OnLocationChanged;
}