@page "/calendars/personal/edit"
@using Microsoft.AspNetCore.DataProtection
@using StartSch.Wasm
@layout DocumentLayout
@inject Db Db
@inject IHttpContextAccessor HttpContextAccessor
@inject IDataProtectionProvider DataProtectionProvider
@attribute [Authorize]

@if (_wrongUser)
{
    <p>
        Ez a link egy másik felhasználóhoz tartozik. A használatához jelentkezz át a megfelelő fiókba.
        <LogOutForm>
            <expressive-button class="small round filled standard" type="submit">
                Kijelentkezés
            </expressive-button>
        </LogOutForm>
    </p>
}

<PersonalCalendarConfigurator InitialEncryptionToken="@_encryptionToken" />

@code {
    private bool _wrongUser;
    private string? _encryptionToken;

    [SupplyParameterFromQuery(Name = "key")] public string? ProtectedEncryptionToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int userId = HttpContextAccessor.HttpContext!.User.GetId();
        if (ProtectedEncryptionToken != null)
        {
            var encryptionKey = PersonalCalendarEncryptionToken.Unprotect(ProtectedEncryptionToken, DataProtectionProvider);
            if (userId != encryptionKey.UserId)
            {
                _wrongUser = true;
                return;
            }

            _encryptionToken = ProtectedEncryptionToken;
            return;
        }
        
        bool hasEncryptedData = await Db.PersonalCalendarExports.AnyAsync(e => e.User.Id == userId);

        if (!hasEncryptedData)
        {
            _encryptionToken = new PersonalCalendarEncryptionToken(
                Crypto.GenerateAesEncryptionKey(),
                userId
            ).Protect(DataProtectionProvider);
        }
    }
}
