@page "/calendars/personal/edit"
@using Microsoft.Extensions.Options
@layout DocumentLayout
@inject IOptions<StartSchOptions> StartSchOptions

<Title>Személyes naptár beállítása</Title>


<div style="display: grid; grid-template-columns: 1fr 1fr">
    <div>
        <EncryptionKeyManager AesKey="@_aesKey" StartSchPublicUrl="@StartSchOptions.Value.PublicUrl" />
    </div>
    <div>
        2
    </div>
</div>

@code {
    private byte[]? _aesKey;
}
